@font-face {
  font-family: 'Magnolia';
  src: url("./Magnolia\ Script.otf");
}

.box {
  position: relative;
  width: 300px;
  height: 250px;
  background-image: linear-gradient(#bb377d, #fbd3e9);
  margin: 100px auto;
  animation: changeColor 5s forwards 1s;

  .bg-box {
    width: 300px;
    height: 250px;
    background-image: url("./images/bg-edited.png");
    background-repeat: no-repeat;
    background-size: 310px;
    background-position: center 130%;
    position: absolute;
    z-index: 2;
  }

  .border {
    position: absolute;
    top: 25px;
    left: 30px;
    width: 240px;
    height: 200px;
    background-color: transparent;
    border: 3px solid #ffffff;
    text-align: center;

    &::before {
      content: "Iron";
      font-family: 'Magnolia';
      font-size: 40px;
      color: #ffffff;
      animation: changeFont 5s forwards 1s;
    }

    @keyframes changeFont {
      25% {
        content: 'Kalium';
      }
      50% {
        content: 'Magnesium';
      }
      75% {
        content: 'Vitamin';
      }
      100% {
        content: 'Get Fresh';
      }
    }
  }

  .bg {
    position: absolute;
    bottom: 0;
    width: 300px;
  }
}

@keyframes changeColor {
  25% {
    background-image: linear-gradient(#0ba360, #3cba92);
  }
  50% {
    background-image: linear-gradient(#76b852, #8dc26f);
  }
  75% {
    background-image: linear-gradient(#ffb347, #ffcc33);
  }
  100% {
    background-image: linear-gradient(#76b852, #bb377d, #ffb347, #0ba360);
  }
}