@font-face {
  font-family: 'Magnolia';
  src: url("./Magnolia Script.otf");
}

.box {
  position: relative;
  width: 300px;
  height: 250px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#76b852), to(#8dc26f));
  background-image: linear-gradient(#76b852, #8dc26f);
  margin: 100px auto;
  -webkit-animation: changeColor 5s forwards 1s;
          animation: changeColor 5s forwards 1s;
}

.box .bg-box {
  width: 300px;
  height: 250px;
  background-image: url("./images/bg-edited.png");
  background-repeat: no-repeat;
  background-size: 310px;
  background-position: center 130%;
  position: absolute;
  z-index: 2;
}

.box .border {
  position: absolute;
  top: 25px;
  left: 30px;
  width: 240px;
  height: 200px;
  background-color: transparent;
  border: 3px solid #ffffff;
  text-align: center;
}

.box .border::before {
  content: "Kalium";
  font-family: 'Magnolia';
  font-size: 40px;
  color: #ffffff;
  -webkit-animation: changeFont 5s forwards 1s;
          animation: changeFont 5s forwards 1s;
}

@-webkit-keyframes changeFont {
  25% {
    content: 'Vitamin';
  }
  50% {
    content: 'Iron';
  }
  75% {
    content: 'Magnesium';
  }
  100% {
    content: 'Get Fresh';
  }
}

@keyframes changeFont {
  25% {
    content: 'Vitamin';
  }
  50% {
    content: 'Iron';
  }
  75% {
    content: 'Magnesium';
  }
  100% {
    content: 'Get Fresh';
  }
}

.box .bg {
  position: absolute;
  bottom: 0;
  width: 300px;
}

@-webkit-keyframes changeColor {
  25% {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffb347), to(#ffcc33));
    background-image: linear-gradient(#ffb347, #ffcc33);
  }
  50% {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#bb377d), to(#fbd3e9));
    background-image: linear-gradient(#bb377d, #fbd3e9);
  }
  75% {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0ba360), to(#3cba92));
    background-image: linear-gradient(#0ba360, #3cba92);
  }
  100% {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#76b852), color-stop(#bb377d), color-stop(#ffb347), to(#0ba360));
    background-image: linear-gradient(#76b852, #bb377d, #ffb347, #0ba360);
  }
}

@keyframes changeColor {
  25% {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffb347), to(#ffcc33));
    background-image: linear-gradient(#ffb347, #ffcc33);
  }
  50% {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#bb377d), to(#fbd3e9));
    background-image: linear-gradient(#bb377d, #fbd3e9);
  }
  75% {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0ba360), to(#3cba92));
    background-image: linear-gradient(#0ba360, #3cba92);
  }
  100% {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#76b852), color-stop(#bb377d), color-stop(#ffb347), to(#0ba360));
    background-image: linear-gradient(#76b852, #bb377d, #ffb347, #0ba360);
  }
}
/*# sourceMappingURL=main.css.map */