@font-face {
  font-family: 'Magnolia';
  src: url("./Magnolia\ Script.otf");
}

.box {
  position: relative;
  width: 300px;
  height: 250px;
  background-image: linear-gradient(#bb377d, #fbd3e9);
  margin: 100px auto;

  .bg-box {
    width: 300px;
    height: 250px;
    background-image: url("./images/bg-edited.png");
    background-repeat: no-repeat;
    background-size: 310px;
    background-position: center 130%;
    position: absolute;
    z-index: 2;
  }

  .border {
    position: absolute;
    top: 25px;
    left: 30px;
    width: 240px;
    height: 200px;
    background-color: transparent;
    border: 3px solid #ffffff;
    text-align: center;

    &::before {
      content: "Iron";
      font-family: 'Magnolia';
      font-size: 40px;
      color: #ffffff;
    }
  }

  .bg {
    position: absolute;
    bottom: 0;
    width: 300px;
  }
}